
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: orchid;
}

#header a{
    color: whitesmoke;
}

#header #links li{
    display: inline;
    padding:50px;
}

#koiimages{
    display:flex;
    justify-content: space-evenly;
}

#koiimages h2{

}

#koiimages .imgandcap{
    display:block;
}

#koiimages .image{
    height: 200px;
    width: 200px;
}

